.popup__container {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 525px) {
  .popup__container {
    max-width: 282px;
    width: 100%;
    max-height: 322px;
  }
}