.elements__like {
  min-width: 23px;
  min-height: 20px;
  margin-right: 20px;
  background-color: white;
  border: none;
  padding: 0;
  background-image: url(../../../images/Like.svg);
  background-repeat: no-repeat;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}