.popup__about {
  max-width: 358px;
  width: 100%;
  height: 14px;
  margin: 30px auto 0;
  padding: 0 0 0 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 525px) {
  .popup__about {
    max-width: 238px;
  }

}